[class*="col-"] {
    float: none;
    display: table-cell;
}
.row {
    display: table;
}
#interests {
	width: 100%;
	background: #f5f4f4;
	font-family: 'Lora', 'serif';
	color: #000;
	margin-top: 2em;
	margin-bottom: 2em;
}

#im{
	width: 95%;
	position: absolute;
	/*height: 100%;*/
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: url("/images/blog/music-is-life.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


#interests h3{
	font:italic 18px/20px Georgia, Times, 'Times New Roman', serif;
}
#interests_1{
	margin-left: 0px;
	margin-right: 0px;
}
.artist{
	border-bottom: 1px solid;
	padding: 10px 50px 10px 0px;
	width: 60%;
}
.song {
	border-bottom: 1px solid;
	padding-left: 50px;
}