body {
    overflow-x: hidden;
    font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.text-muted {
    color: #777;
}

.text-primary {
    color: #fed136;
}

p {
    font-size: 14px;
    line-height: 1.75;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

a{
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

header {
	background-image: url(../images/img_1.jpg);
	background-position: center 100%;
	background-size: cover;
	text-align: center;
}

.navbar-default {
    background-color: #222;
}

.navbar-default .navbar-toggle {
    border-color: #fed136;
    background-color: #fed136;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #fed136;
}

.navbar-default .navbar-brand{
    font-family: 'Dancing Script', cursive;
    font-size: 23px;
    color: #fed136;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
 color: #fed136;
 background-color: black;   
}
.navbar-default .nav li a{
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: black;
    }   

.navbar-default .navbar-collapse {
border-color: rgba(255,255,255,.02);
}
.navbar-default .nav li {
    text-align: left;
}
.navbar-default .nav li a{
    color: white;    
}
.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:focus{
    color: #fed136;    
    }

/*header*/
header .intro-text .intro-lead-in{
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
    color: #393939;
    }
header .intro-text .intro-heading{
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 35px;
    margin-bottom: 20px;
    color: #393939;
    }
header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
    }

/*For larger devices*/
@media(min-width:768px) {
    
    .navbar-default {
    padding: 25px 0;
    border: 0;
    background-color: transparent;
    }
    
    .navbar-default .navbar-brand{
    font-family: 'Dancing Script', cursive;
    font-size: 36px;
    text-shadow: 5px 5px 5px rgb(90, 79, 79);
    color: black;    
    }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
    color: black;
    background-color: rgba(84,84,84,.5);   
    } 

    .navbar-default .nav li{
    font-size: 20px;
    }

    .navbar-default .nav li a{
    line-height: 32px;
    color: #393939;
    }
    .navbar-default .nav li a:hover, .navbar-default .nav li a:focus{
    background-color: rgba(84,84,84,.5);    
    color: black;}

    /*css class for Javascript effects*/
    .top-nav-collapse {
        padding: 0;
        background-color: #222;
    }
    .navbar-default.top-nav-collapse .navbar-brand{
        color: #fed136;
    }
    .navbar-default.top-nav-collapse .nav li a{
        color: white;
    }   
    .navbar-default.top-nav-collapse .nav li a:hover,.navbar-default.top-nav-collapse .nav li a:focus{
    color: #fed136;
    background-color: transparent;
    }
    .navbar-default.top-nav-collapse .navbar-brand:hover{
    background-color: black;   
    }
    
/*header*/

header .intro-text .intro-lead-in{
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 40px;
    margin-bottom: 10px;
    color: #393939;
    }
header .intro-text .intro-heading{
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 50px;
    margin-bottom: 20px;
    color: #393939;
    }
header .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
    }
}





/*button effects*/

.btn {
     -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid grey;
    border-radius: 35px;
    font-size: 40px;
    /*color: #fff;*/
    /*background: 0 0;*/
    /*-webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;*/
}
.intro-text a:hover{
	background-color: grey;
	opacity:0.5;
}

/*icon animation effects*/

.fa {
	color: black;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

/*About me*/

section {
    padding: 100px 0;
}

section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
}

section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

@media(min-width:768px) {
    section {
        padding: 150px 0;
    }
}

.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}

.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    background-color: #f1f1f1;
}

.timeline>li {
    position: relative;
    margin-bottom: 50px;
    min-height: 50px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li .timeline-panel {
    float: right;
    position: relative;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: right;
}

/*.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}*/

.timeline>li .timeline-image {
    z-index: 100;
    position: absolute;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    border: 7px solid #f1f1f1;
    border-radius: 100%;
    text-align: center;
    color: #fff;
    background-color: #fed136;
}

/*.timeline>li .timeline-image h4 {
    margin-top: 12px;
    font-size: 10px;
    line-height: 14px;
}*/

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}

/*.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}*/

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit;
}

.timeline .timeline-heading h4.subheading {
    text-transform: none;
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    margin-bottom: 0;
}

@media(min-width:768px) {
    .timeline:before {
        left: 50%;
    }

    .timeline>li {
        margin-bottom: 100px;
        min-height: 100px;
    }

    .timeline>li .timeline-panel {
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
        text-align: right;
    }

    .timeline>li .timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 16px;
        font-size: 13px;
        line-height: 18px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }
}

@media(min-width:992px) {
    .timeline>li {
        min-height: 150px;
    }

    .timeline>li .timeline-panel {
        padding: 0 20px 20px;
    }

    .timeline>li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 30px;
        font-size: 18px;
        line-height: 26px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 20px 20px;
    }
}

@media(min-width:1200px) {
    .timeline>li {
        min-height: 170px;
    }

    .timeline>li .timeline-panel {
        padding: 0 20px 20px 100px;
    }

    .timeline>li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 40px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 100px 20px 20px;
    }
}

/*styling for skills*/
#skills{
    background-color: #F0F8FF;
}
/*styling for contact*/

#contact {
    background-color: #f7f7f7;
}
#contact img {
    margin: 0 auto;
}

ul.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}


/*styling for blog*/
.home{
background-image: url(../images/blog/blog-background.jpg);
}
.page-heading{
    margin-top: 40px;
    margin-bottom: 10px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    color: #E0FFFF;
}
.post-list{
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
.post-meta{
    font-size: 17px;
}
.post-list h2{
    text-align: center;
    margin: 10px 0;
}
.post-list li{
    padding: 10px;
}
.post-list a{
    color: white;
    font-size: 20px;
}
.rss-subscribe{
    color: white;
}
.rss-subscribe a{
    color: white;
    font-style: italic;
}
@media(min-width:992px) {
   .page-heading{
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 50px;
   }
   .post-meta{
    font-size: 22px;
    }
   .post-list{
    padding-top: 30px;
    padding-bottom: 30px;
   }
   .post-list h2{
    margin: 15px 0;
   }
   .post-list a{
    font-size: 36px;
   }
}